@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@300&family=Lobster&family=Prompt:wght@300&display=swap');




.heading {
    text-align: center;
    font-family: Lobster, josefin sans;
    font-size: 42px;
    color: #841C26;
}
nav {
    background-color: #6C969D;
    font-size: 36px;
    font-family: josefin sans;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    size: 25%;
    display: flex;

}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a:hover{
    background-color: #F06543;
    color: black;
}
footer{
    background-color: #14248A;
    color: White;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer p {
    font-size: 1.2em
}
footer p a:hover {
    text-decoration: underline;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.social {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
}
#intro, #the_rest {
    font-size: 24px;
    font-family: prompt, jost;
    margin:20px;
    grid-column: 2/4;
}
#intro{
    grid-row: 1/2;
}
#the_rest{
    grid-row:2/4;
    text-align: center;
    margin-left: 36px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#youtube{
    grid-column: 1/2;
    grid-row: 1/2;
}
#insta{
    grid-column: 1/2;
    grid-row: 2/3;
}
#facebook{
    grid-column: 1/2;
    grid-row: 3/4;
}
#twitch {
    grid-column: 1/2;
    grid-row:4/5;
}